= simple_form_for(@team) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :code
    = f.input :league, :collection => ['American','National']

  .form-actions
    = f.button :submit
